Roadmap that I'm following: https://medium.com/@ayush-thakur02/a-mini-roadmap-to-learn-pandas-library-in-a-week-417741ef3564

# Day 1: Introduction to Pandas

In [20]:
# pandas - open-source data analysis and manipulation libraryi
 # name “Pandas” is derived from "Panel Data"

# two primary data structures:
# Series: A one-dimensional labeled array.
# DataFrame: A two-dimensional labeled table (like an Excel spreadsheet or SQL table).

In [79]:
import pandas as pd

# load csv file
df = pd.read_csv("continent.csv")

# view first few rows 
print(df.head())

# summary statistics
print(df.describe())

    Continent
0      Africa
1  Antarctica
2        Asia
3   Australia
4      Europe
       Continent
count          7
unique         7
top       Africa
freq           1

In [48]:
# Creating a Series
# From a list:
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)


# From a dictionary:
data = {'a': 100, 'b': 200, 'c': 300}
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64
a    100
b    200
c    300
dtype: int64

In [77]:
# Creating a DataFrame
# From a dictionary of lists:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df = pd.DataFrame(data)
print(df)

 # From a list of dictionaries:
data = [
    {'Name': 'Alice', 'Age': 25},
    {'Name': 'Bob', 'Age': 30}
]
df = pd.DataFrame(data)
print(df)

# From a CSV file:
df = pd.read_csv('continent.csv')

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
    Name  Age
0  Alice   25
1    Bob   30

In [64]:
# Accessing in Series
print(series['a'])
print(df.loc[0])           # By index label
print(df.iloc[1])          # By index position

100
Continent    Africa
Name: 0, dtype: object
Continent    Antarctica
Name: 1, dtype: object

In [89]:
# Modifying DataFrame
# Change value in specific cell
df.loc['Africa'] = 'Bangladesh'

print(df)

            Continent      Africa
0              Africa       india
1          Antarctica       india
2                Asia       india
3           Australia       india
4              Europe       india
5       North America       india
6       South America       india
Africa     Bangladesh  Bangladesh

# Day 2: Reading and Writing Data

# Day 3: Analysing Data

# Day 4: Manipulating Data

# Day 5: Working with Time Series

# Day 6: Working with Text Data

# Day 7: Working with Categorical Data